.banner{
  background: url('../img/banner.png') 50% 50% fixed no-repeat;
  background-size: cover;
  width: 100%;
  max-height: 450px;
  min-height: 450px;
  overflow: hidden;
  text-align: center;

  @media (max-width: $breakpoint-sm){
    min-height: 230px;
  }
}

.banner-title{
  color: #fff;
  max-width: 500px;
  margin: 0 auto;
  font-weight: 900;
  margin-bottom: 40px;
  letter-spacing: -2px;
  font-family: $font-heading;
  text-transform: uppercase;
  font-size: 70px;
  line-height: 1;
  margin-top: 125px;

  @media (max-width: $breakpoint-sm){
    font-size: 40px;
  }
}

.banner-cta{
  transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
  height: 50px;
  padding: 9px 50px 0 50px;
  font-size: 20px;
  color: #fff;
  border-radius: 60px;
    -webkit-border-radius: 60px;
  display: inline-block;
  border: 2px solid #fff;

  &:hover{
    background-color: #fff;
    color: $green;
  }
}

.banner-video-container{
  overflow: hidden;
  max-height: 400px;
  background-color: $green;
  background-blend-mode: multiply;
}

.banner-video{
  max-width: 100%;
  min-width: 100%;
}
