*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$container-width: 1120px;
$gutter-width: 40px;
$column-count: 12;

$col-1: percentage(1 / $column-count);
$col-2: percentage(2 / $column-count);
$col-3: percentage(3 / $column-count);
$col-4: percentage(4 / $column-count);
$col-5: percentage(5 / $column-count);
$col-6: percentage(6 / $column-count);
$col-7: percentage(7 / $column-count);
$col-8: percentage(8 / $column-count);
$col-9: percentage(9 / $column-count);
$col-10: percentage(10 / $column-count);
$col-11: percentage(11 / $column-count);
$col-12: percentage(12 / $column-count);

$breakpoint-md: 768px;
$breakpoint-sm: 414px;

.container{
  width: $container-width + $gutter-width;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}

.container.container-nested [class*='col-']{
  padding: 0px;
}

.container.container-nested [class*='col-']:first-child{
  padding-right: $gutter-width / 2;
}

.container.container-nested [class*='col-']:last-child{
  padding-left: $gutter-width / 2;
}

@media (max-width: $breakpoint-sm){
  .container.container-nested [class*='col-']:first-child,
  .container.container-nested [class*='col-']:last-child{
    padding: 0px;
  }
}

[class*='col-'],
[class^='col-']{
  margin-bottom: $gutter-width;
  padding: 0 $gutter-width / 2;
}

.col-no-gutter[class*='col-']{
  padding: 0px !important;
}

.col-no-margin{
  margin-bottom: 0px !important;
}

.col-1{
  flex: 0 0 $col-1;
}

.col-2{
  flex: 0 0 $col-2;
}

.col-3{
  flex: 0 0 $col-3;
}

.col-4{
  flex: 0 0 $col-4;
}

.col-5{
  flex: 0 0 $col-5;
}

.col-6{
  flex: 0 0 $col-6;
}

.col-7{
  flex: 0 0 $col-7;
}

.col-8{
  flex: 0 0 $col-8;
}

.col-9{
  flex: 0 0 $col-9;
}

.col-10{
  flex: 0 0 $col-10;
}

.col-11{
  flex: 0 0 $col-11;
}

.col-12{
  flex: 0 0 $col-12;
}


// Push Columns
.col-push-1{
  margin-left: $col-1;
}

.col-push-2{
  margin-left: $col-2;
}

@media (max-width: 414px) {
  .col-sm-push-0{
    margin-left: 0px;
  }
}

@media (max-width: 768px){
  .col-md-1{
    flex: 0 0 $col-1;
  }

  .col-md-2{
    flex: 0 0 $col-2;
  }

  .col-md-2{
    flex: 0 0 $col-3;
  }

  .col-md-4{
    flex: 0 0 $col-4;
  }

  .col-md-5{
    flex: 0 0 $col-5;
  }

  .col-md-6{
    flex: 0 0 $col-6;
  }

  .col-md-7{
    flex: 0 0 $col-7;
  }

  .col-md-8{
    flex: 0 0 $col-8;
  }

  .col-md-9{
    flex: 0 0 $col-9;
  }

  .col-md-10{
    flex: 0 0 $col-10;
  }

  .col-md-11{
    flex: 0 0 $col-11;
  }

  .col-md-12{
    flex: 0 0 $col-12;
  }

  .col-md-hide{
    display: none;
  }
}

@media (max-width: $breakpoint-sm){
  .col-sm-1{
    flex: 0 0 $col-1;

  }

  .col-sm-2{
    flex: 0 0 $col-2;
  }

  .col-sm-2{
    flex: 0 0 $col-3;
  }

  .col-sm-4{
    flex: 0 0 $col-4;
  }

  .col-sm-5{
    flex: 0 0 $col-5;
  }

  .col-sm-6{
    flex: 0 0 $col-6;
  }

  .col-sm-7{
    flex: 0 0 $col-7;
  }

  .col-sm-8{
    flex: 0 0 $col-8;
  }

  .col-sm-9{
    flex: 0 0 $col-9;
  }

  .col-sm-10{
    flex: 0 0 $col-10;
  }

  .col-sm-11{
    flex: 0 0 $col-11;
  }

  .col-sm-12{
    flex: 0 0 $col-12;
  }

  .col-sm-hide{
    display: none;
  }
}
